<ActionBar [title]="'ABOUT' | translate" class="action-bar">
  <NavigationButton [text]="'HOME' | translate"></NavigationButton>
</ActionBar>

  <ScrollView>
    <StackLayout class="p-10">
      <Label text="Watch My App is a application that monitors your web services, web and NodeJS applications." textWrap="true" class="h4"></Label>

      <Label text="Features" class="h1"></Label>

      <StackLayout class="feature-list">
        <Label text="- Organize a dashboard so all of your applications can be visualized." textWrap="true" class="body"></Label>
        <Label text="- Set alarms that will be triggered based on your criteria." textWrap="true" class="body"></Label>
        <Label text="- Configure to recieve email or device notications whenever a alarm is triggered." textWrap="true" class="body"></Label>
      </StackLayout>
    </StackLayout>
  </ScrollView>
